.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.content .index-post:nth-child(4n-3) {
    background-color: yellow;
}
.content .index-post:nth-child(4n-2) {
    background-color: darkorange;
}
.content .index-post:nth-child(4n-1) {
    background-color: purple;
}
.content .index-post:nth-child(4n) {
    background-color: violet;
}

.row{
    align-items: stretch;
    padding: 0;
    margin: 0;
}

.index-post{
    max-height: 600px;
}